.banner-travel {
  max-width: 1100px;
  height: 514px;
  margin: 0 auto;
  border-radius: 72px;
  background-image: linear-gradient(to bottom, #d2cae5, #B5D2FF);
  position: relative;
  text-align: center;
  z-index: 0;
  box-shadow: 0 4px 25px 0 rgba(0,0,0, .15);
}

.banner-travel > .text {
  display: inline-block;
  color: var(--main-blue-color);
  font-size: 18px;
  margin-top: 24px;
}

.banner-travel > .title {
  margin-top: 24px;
  font-size: 56px;
  font-weight: 900;
  color: var(--main-black-color);
}

.banner-travel > .temple-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -5;
}

.banner-travel .search-travel {
  display: flex;
  width: 820px;
  justify-content: space-between;
  align-items: top;
  padding: 34px 36px;
  background-color: #fff;
  border-radius: 32px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  box-shadow: 0 4px 25px 0 rgba(0,0,0, .15);
}

.search-travel .search-data {
  z-index: 5;
}

.search-travel .search-data:nth-child(2) {
  width: 260px;
  border-left: 2px solid var(--main-gray-color);
  border-right: 2px solid var(--main-gray-color);
}

.search-travel .search-data:nth-child(3) {
  margin-right: 160px;
}

.search-data .box-info {
  text-align: left;
  margin-bottom: 16px;
}

.search-data > .box-info.center {
  text-align: center;
  margin-right: 66px;
}

.search-data > .location {
  border: none;
  font-weight: 500;
  color: var(--main-gray-color);
  font-size: 12px;
  margin: 0 0 0 30px;
  outline: none;
}

.search-data > .location::placeholder,
.box-number .number::placeholder {
  font-weight: inherit;
  color: var(--main-gray-color);
  opacity: 1;
}

.search-data .box-date {
  position: relative;
}

.search-data:nth-child(3) > .btn-search {
  border: none;
  display: inline-block;
  background: var(--main-blue-color);
  width: 92px;
  height: 66px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.box-info > .title {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 600;
  color: var(--main-black-color);
}

.box-info > .icon {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--main-blue-light-color);
}

.box-number {
  display: inline-block;
  position: relative;
}

.box-number > label {
  display: inline-block;
  font-weight: 500;
  color: var(--main-gray-color);
  font-size: 12px;
  width: 66px;
  padding: 0 10px;
}

.box-number > input {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.box-number svg {
  vertical-align: middle;
}

.box-number .subtraction,
.box-number .addition {
  cursor: pointer;
}

.box-date .arrow {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 25%;
  right: 20%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-bottom: 2px solid var(--main-black-color);
  border-right: 2px solid var(--main-black-color);
  transform: translateY(-25%) rotate(45deg);
  transform-origin: 5px 6px;
  cursor: pointer;
  pointer-events: none;
  transition: 200ms ease;
}

.box-date .arrow.-active {
  transform: translateY(-25%) rotate(225deg);
}

.box-date > label {
  display: block;
  padding: 2px 0;
  font-weight: 500;
  color: var(--main-gray-color);
  font-size: 12px;
  cursor: pointer;
}

.box-date > input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}