.header-travel {
  margin: 45px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-travel .title {
  font-weight: 900;
  font-size: 24px;
  color: var(--main-blue-color);
}

.title span {
  color: var(--main-black-color);
}

.navigation-travel .link {
  text-decoration: none;
  color: var(--main-gray-color);
  font-weight: 600;
  font-size: 18px;
  position: relative;
  
}

.navigation-travel .-action::after{
  content: '';
  height: 1px;
  width: 100%;
  background-color:white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 200ms linear;
}

.-action:hover::after{
  transform: scale(1);
background-color: var(--main-blue-color)}

.link + .link {
  margin-left: 75px;
}

.header-travel .buttons {
  margin-right: 6px;
}

.header-travel .btn {
  border: 0;
  font-size: 16px;
  background-color: transparent;
  font-weight: 700;
  color: var(--main-blue-color);
  cursor: pointer;
}

.header-travel .btn.sign-up {
  color: #fff;
  background-color: var(--main-blue-color);
  padding: 8px 16px;
  border-radius: 5px;
  margin-left: 16px;
}

.header-travel .btn:active{
  transform: scale(0.9);
  transition: transform 200ms;
}