.text-session {
  margin: 0 auto;
  margin-top: 186px;
  max-width: 1014px;
}

.text-session > .text-content {
  float: right;
}

.text-content > .title {
  margin: 48px 0 46px 0;
  max-width: 464px;
  font-weight: bold;
  color: var(--main-black-color);
  font-size: 42px;
}

.text-content > .title > strong {
  color: var(--main-blue-color);
}

.text-content > .text {
  max-width: 430px;
  color: var(--main-gray-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: .2px;
}

.text-session > .photo-content {
  float: left;
  position: relative;
}

.text-session > .photo-content {
  position: relative;
}

.photo-content::after {
  content: '';
  position: absolute;
  display: block;
  background: var(--main-blue-50-color);
  border-bottom-left-radius: 72px;
  border-bottom-right-radius: 72px;
  border-top-right-radius: 96px;
  border-top-left-radius: 96px;
  width: 385px;
  height: 418px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.photo-content > .photo {
  display: block;
}

.photo-content > .box-photo {
  box-sizing: border-box;
  position: absolute;
  width: 182px;
  height: 80px;
  box-shadow: 0 4px 4px rgba(0,0,0,.15);
  background-color: rgba(245, 245, 245, 0.85);
  padding: 10px 0 0 24px;
}

.box-photo > img {
  vertical-align: middle;
  margin-right: 30px;
}

.box-photo > .box-number {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  color: var(--main-black-color);
  font-size: 24px;
}

.box-photo > .box-text {
  color: #5F5F5F;
  font-weight: 600;
  text-align: right;
  margin-right: 25px;
  margin-top: 10px;
  font-size: 12px;
}

.photo-content > .box-photo.-customers {
  border-radius: 4px;
  border-bottom-left-radius: 90px;
  top: 40%;
  left: 50%;
  transform: translate(50%, -100%);
}

.photo-content > .box-photo.-destinations {
  padding: 0;
  width: 194px;
  height: 76px;
  padding: 10px 0 0 0;
  border-radius: 4px;
  border-bottom-right-radius: 90px;
  top: 60%;
  left: 0;
  transform: translate(-50%, -50%);
}

.photo-content > .box-photo.-destinations img {
  margin-left: 18px;
  margin-right: 30px;
}

.photo-content > .box-photo.-destinations .box-number {
  margin-right: 30px;
}

.photo-content > .box-photo.-destinations .box-text {
  margin-right: 45px;
}

.photo-content > .box-photo.-tours {
  padding: 0;
  width: 185px;
  height: 80px;
  padding: 10px 0 0 0;
  border-radius: 4px;
  border-top-left-radius: 90px;
  bottom: 0;
  right: 0;
  transform: translate(28%, 10%);
}

.photo-content > .box-photo.-tours img {
  margin-left: 68px;
  margin-right: 15px;
}

.photo-content > .box-photo.-tours .box-number {
  margin-right: 24px;
}

.photo-content > .box-photo.-tours .box-text {
  margin-right: 32px;
}