.travel-footer {
  margin-top: 90px;
  width: 100%;
  padding-bottom: 14px;
}

.travel-footer .footer-container {
  max-width: 1090px;
  margin: 0 auto;
}


.footer-container .footer-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}
.footer-navigation .items .travel-logo {
  font-size: 1.5rem;
  color: var(--main-blue-color);
  font-weight: 800;
  margin-bottom: 20px;
}

.travel-logo span {
  color: var(--main-black-color);
}

.items .text {
  font-size: 1.25rem;
  line-height:1.5rem;
  color: var(--main-gray-color);
}

.items .icons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}


.footer-navigation .items .item-title {
  color: var(--main-black-color);
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.items a {
  color: var(--main-gray-color);
  text-decoration: none;
  transition: color 300ms;
}

.items a:hover {
  color: var(--main-black-color);
}

.items ul li {
  font-size: 1rem;
  margin-bottom: 0.625rem;
  font-weight: 600;
}

.footer-container .footer-copyright {
  text-align: center;
  color: var(--main-gray-color);
  font-size: 0.75rem;
}