.travel-tours {
  clear: both;
  display: inline-block;
  margin-top: 126px;
  width: 100%;
}

.travel-tours .tours-container {
  max-width: 1164px;
  margin: 0 auto;
  text-align: center;
}

.tours-container > .title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: var(--main-black-color);
}

.tours-container > .text {
  text-align: center;
  font-weight: 600;
  color: var(--main-gray-color);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tours-cards {
  display: flex;
  flex-direction: column;
}

.tours-cards .tours-cards-row {
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 60px;
}

.tours-cards-row .tours-card {
  box-sizing: border-box;
  max-width: 260px;
  box-shadow: 0 4px 45px -15px rgba(0,0,0,.15);
  text-align: center;
  padding: 8px 20px;
  padding-bottom: 22px;
  border-radius: 25px;
}

.tours-card > img {
  width: 220px;
}

.tours-card > .tours-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  color: var(--main-black-color);
}

.tours-card > .tours-text {
  margin: 4px 0 38px 0;
  font-weight: 600;
  text-align: left;
  color: var(--main-gray-color);
  font-size: 0.875rem;
  line-height: 1.1rem;
}

.tours-card > .tours-infors {
  display: flex;
  justify-content: space-between;
}

.tours-infors > .location p,
.tours-infors > .coust p {
  display: inline-block;
  color: var(--main-gray-color);
  font-weight: bold;
  margin-left: 4px;
}

.tours-infors > .coust p span{
  font-size: .625rem;
  font-weight: normal;
}

.tours-infors > .location img,
.tours-infors > .coust img {
  vertical-align: top;
}

a.btn-tours {
  display: inline-block;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  padding: 0 54px;
  background-color: var(--main-blue-color);
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 10px;
  margin-top: 100px;
}