.travel-category {
  background-color: var(--main-blue-100-color);
  max-width: 1200px;
  margin: 90px auto 0 auto;
  border-radius: 30px;
  padding-left: 74px;
  padding-top: 26px;
  padding-bottom: 60px;
}


.navigation .title {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  color: var(--main-black-color);
  margin-left: 60px;
}

.navigation > .text {
  width: 345px;
  margin: 16px 0 30px 60px;
  color: var(--main-gray-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.navigation > .header {
  padding-right: 30px;
  overflow: hidden;
}

.header .title::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  top: 50%;
  left: -50%;
  transform: translate(30%, -50%);
  border-radius: 2px;
  background-color: var(--main-black-color);
}

.header .buttons {
  float: right;
}

.header .buttons .btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  line-height: 40px;
  cursor: pointer;
}

.header .btn.-left {
  background: transparent;
  border: 2px solid var(--main-blue-color);
  margin-right: 14px;
}

.header .btn.-right {
  background-color: var(--main-blue-color);
  border: 2px solid transparent;
}

.travel-category .places {
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 10px;
}

.places > .card {
  cursor: pointer;
  display: inline-block;
  width: 126px;
  height: 195px;
  margin-right: 45px;
  overflow: hidden;
}

.card > .card-image {
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.card-image img {
  position: absolute;
  bottom: -50%;
  left: -50%;
  transform: translate(-50%, -50%);
  transform: scale(.7);
}

.card > .card-text {
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 900;
  color: var(--main-black-color);
}

